asdf

In [15]:
import pandas as pd
url='https://classes.usc.edu/term-20221/classes/dsci/'
html = pd.read_html(url, header = 0)
courses=pd.DataFrame(html)
courses.to_csv('courses.csv', index=False)
courses.head()

C:\Users\Tyler Alcorn\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                                   0
0    Section  Session     Type           Time    ...
1    Section  Session     Type         Time      ...
2    Section  Session     Type         Time     D...
3    Section  Session     Type           Time    ...
4    Section  Session     Type         Time    Da...